/*
 * Modification of http://callmenick.com/post/various-css-input-text-styles
 */
input[type="text"] {
  /*display: block;*/
  margin: 0;
  width: 70%;
  /*font-family: sans-serif;*/
  /*font-size: 18px;*/
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

.niceBox input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
.niceBox input[type="text"]:focus,
.niceBox input[type="text"].focus {
  border: solid 5px #969696;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  input[type="text"] {
    /*display: block;*/
    margin: 0;
    width: 100%;
    /*font-family: sans-serif;*/
    /*font-size: 18px;*/
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }
  input[type="text"]:focus {
    outline: none;
  }

  #messageForm input[type="text"] {
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
  }
  #messageForm input[type="text"]:focus,
  #messageForm input[type="text"].focus {
    border: solid 5px #969696;
  }
}